@charset "UTF-8";
/* Обнуляющий стиль */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================================================================ */
/* &display=swap */ /* Обнуляющий стиль */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================================================================ */
/* ================================================================ */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0px 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* №1 */
@media (max-width: 1050px) {
  [class*=__container] {
    /* max-width: 970px; */
  }
}
/* №2 */
@media (max-width: 991.98px) {
  [class*=__container] {
    /* max-width: 750px; */
  }
}
/* №3 */
@media (max-width: 767.98px) {
  [class*=__container] {
    /* max-width: none; */
  }
}
/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
/* Условные планшеты */
/* Условные мобилки */
/* ================================================================ */
.black-screen {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.black-screen__box {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
}
.black-screen__form {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.black-screen__form label {
  margin: 10px;
}

.black-screen_active {
  display: flex;
  z-index: 10;
}

.main {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main__item {
  width: 300px;
  margin: 20px auto;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.7);
  filter: grayscale(30%);
}
.main__item:hover {
  box-shadow: 0 0 0;
  outline: 8px solid rgba(0, 128, 0, 0.3);
  filter: grayscale(0%) contrast(110%);
}
.main__name {
  font-size: larger;
  font-weight: 600;
  text-align: center;
  margin: 5px;
}
.main__img {
  width: 99%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}